@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Play:wght@400;700&family=Teko:wght@300..700&display=swap');

/* Imported Fonts */

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.teko-sc-regular {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/*------------------------------------------GENERAL STYLES------*/

body, html {
    margin-bottom: 0;
    font-family: 'Play', sans-serif;
    color: #fafafa;
    overflow-x: hidden;
}

/*------------------------------------------HEADER SECTION------*/

.row>* {
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 300px;
    background-color: blue;
}

.header-content {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainImage {
    position: relative;
    width: 388px;
    height: 100%;
    border-radius: 50%;
    bottom: 17%;
    left: 25%;
}

.name-section {
    position: relative;
    padding: 20px 20px;
}

.name {
    font-family: 'Anton SC', sans-serif;
    text-align: right;
    font-size: 4rem;
}

.title {
    font-family: 'Teko', sans-serif;
    text-align: right;
    font-size: 2rem;
}

/* Navbar */

.navbar {
    padding: 0;
    z-index: -1;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar-nav li a {
    padding-top: 35px;
    height: 100px;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
}

.nav-link {
    display: block;
    width: 100%;
    padding: 1rem;
}

.navbar .container-fluid {
    padding: 0;
}

#home {
    background-color: rgb(0, 131, 207);
}

#resume {
    background-color: rgb(146, 1, 1);
}

#contact {
    background-color: rgb(9, 88, 9);
}

#download {
    background-color: rgb(0, 85, 196);
}

/*------------------------------------------FOOTER------*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    width: 100%;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* Media Queries */

@media (max-width: 992px) and (min-width: 768px) { 
    header {
        background-color: blue;
    }

    .mainImage {
        display: block;
        position: absolute;
        top: 45%;
        left: 40px;
        transform: translateY(-50%);
        width: 388px;
        height: 388px;
    }

    .name-section {
        padding-left: 170px;
    }
}


@media (max-width: 768px) {
    header {
        background-color: none;
        background: url('../images/09d3e979-0f4e-40f3-b0ba-a10e848a0e7b.jpeg') no-repeat center center / cover;
    }

    .name, .title {
        text-shadow: 2px 2px 3px blue;
    }
}