@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Play:wght@400;700&family=Teko:wght@300..700&display=swap');

/* Imported Fonts */

.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.teko-sc-regular {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/*------------------------------------------GENERAL STYLES------*/

body {
    
    font-family: 'Play', sans-serif;
    color: #fafafa;
}

/*------------------------------------------HEADER SECTION------*/

.row>* {
    padding: 0;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 300px;
    background-color: blue;
}

.header-content {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainImage {
    position: relative;
    width: 388px;
    height: 100%;
    border-radius: 50%;
    bottom: 17%;
    left: 25%;
}

.name-section {
    position: relative;
    padding: 20px 20px;
}

.name {
    font-family: 'Anton SC', sans-serif;
    text-align: right;
    font-size: 4rem;
}

.title {
    font-family: 'Teko', sans-serif;
    text-align: right;
}

/* Navbar */
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.navbar-light {
    background: blue;
}

.navbar {
    padding: 0;
}

.navbar > .container-fluid {
    position: relative;
    padding: 0;
    bottom: -20px;
}

.navbar-nav a {
    position: relative;
    width: 100%;
    height: 120px;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 1.5rem;
}

#home {
    background-color: rgb(0, 131, 207);
}

#resume {
    background-color: rgb(146, 1, 1);
}

#contact {
    background-color: rgb(9, 88, 9);
}

#download {
    background-color: rgb(0, 85, 196);
}
